<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../public/assets/css/app.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <h3>#BoraProgramar</h3>
    <div class="chatbot" id="chatErykia">

        <!--div class="chatbot-response-input">
            <div class="response-input">
                Meu nome é Alex Vidal
            </div>
        </div-->
    </div>
    <div class="responsetext">
        <label>
            <input id="response" type="text" name="" placeholder="Aguardando resposta...">
        </label>
        <label>
            <input id="send" type="button" value=">>>">
        </label>
    </div>
</div>
<script type="module" src="../../public/assets/js/app.js"></script>
</body>

</html>