<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../public/assets/css/app.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <h3>Chat Erykia IA</h3>
    <div class="chatbot" >
        <div id="chatErykia">

        </div>
        <div id="chatLoad">
            <div class='chatbot-response-ia' id='load-chat'>
                <div class='response-ia'>
                    <img class='load' src='../../public/assets/img/loading-chat.gif'/>
                </div>
            </div>
        </div>
    </div>
    <div class="responsetext">
        <label>
            <input id="response" type="text" name="" placeholder="Aguardando resposta...">
        </label>
        <label>
            <input id="send" name="" type="button" value=">>>">
        </label>
    </div>
</div>
<script type="module" src="../../public/assets/js/app.js"></script>
</body>

</html>